.datatable-accion-editar
{
    display: flex;
    align-items: center;
    justify-content: center;
    background:#404BD9;
    width: 20%;
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
    
}
.zv-editarUsuario-footer
{
    display: inline-flex;
    gap: 16px;
}