@import "../../styles/variables";


.zv-editarUsuario-footer
{
    display: inline-flex;
    gap: 16px;
}

.detalle-datatable-accion
{
    display: flex;
    gap:12px;
    align-items: center;
    margin-left: 53px;
}

.profesor-datatable-accion
{
    display: flex;
    gap:12px;
    align-items: center;
}