.layout-topbar
{
    position: fixed;
    height: 72px;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    transition: left 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blue-button {
  background-color: #2D5B97; /* azul */
  color: white;
}
.notifications-dropdown {
  max-height: 300px;
  overflow-y: auto;
}

.notifications-dropdown ul {
  margin: 0;
  padding: 0;
}

.notifications-dropdown li {
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
}

.notifications-dropdown li:hover {
  background-color: #f9f9f9;
}
