.datatable-accion-editar
{
    display: flex;
    align-items: center;
    justify-content: center;
    background:#404BD9;
    width: 20%;
    padding: 4px;
    cursor: pointer;
    
}
.zv-editarUsuario-footer
{
    display: inline-flex;
    gap: 16px;
}
.custom-file-upload {
  position: relative;
  width: 100%;
}

.upload-label {
  display: block;
  background-color: #f4f4f4;
  color: #333;
  border: 1px solid #ccc;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.upload-label:hover {
  background-color: #e0e0e0;
}

.hidden-input {
  display: none;
}
