@import "../../styles/variables";

.profesor-datatable-accion
{
    display: flex;
    gap: 12px;
    align-items: center;
}
.profesor-accion-eliminar
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-rojo-eliminar;
    padding: 6px;
    cursor: pointer;
    border-radius: $radius-icon-btn;
}

.profesor-accion-editar
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-azul-vivo;
    padding: 6px;
    cursor: pointer;
    border-radius: $radius-icon-btn;
}