@import "../../styles/variables";

.btnEd
{
    border-radius: $radius-btn !important;
    font-family: $font-family-display !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}

.btnEd-color-primary
{
     background-color: $color-azul-vivo !important;
     border: 1px solid $color-azul-vivo !important;
     cursor: pointer;
     color: #fff !important;
}

.btnEd-color-seconday
{
     background-color: $color-azul-tonal !important;
     border: 1px solid $color-azul-tonal !important;
     cursor: pointer;
     color: $color-azul-vivo !important;
}


.btnEd-color-primary:hover   {
  background-color: darken($color-azul-vivo, 5%) !important;

}

.btnEd-color-seconday:hover   {
  background-color: darken($color-azul-tonal, 5%) !important;

}